<div class="container my-2">
  <div class="row">
    <div class="col-md">
      <img alt="Společenský sál" class="img-fluid mx-auto" src="assets/img/spolecensky_sal.jpg">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md">
      <h1>Společenský sál</h1>
      <ul>
        <li>Oslavy</li>
        <li>Večírky</li>
        <li>Teambuildingové akce</li>
        <li>Schůze</li>
        <li>Svatby</li>
        <li>Školení</li>
      </ul>

      <p>Rezervace na telefonním čísle +420 732 552 897</p>
    </div>
  </div>
</div>
