<div class="row justify-content-center">
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" [style.fontSize.px]="16">
      <mat-card-header>
        <h1>Registrace</h1>
      </mat-card-header>
      <mat-card-content>
        <p style="color: red" [hidden]="!showErrorMessage">Uživatel s tímto e-mailem již existuje!</p>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="firstName">
            <mat-label>Jméno</mat-label>
          </label>
          <input formControlName="firstName" id="firstName" matInput type="text">
          <mat-error *ngIf="form.firstName.errors">Prosím, zadejte jméno</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="lastName">
            <mat-label>Příjmení</mat-label>
          </label>
          <input formControlName="lastName" id="lastName" matInput type="text">
          <mat-error *ngIf="form.lastName.errors">Prosím, zadejte příjmení</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="email">
            <mat-label>E-mail</mat-label>
          </label>
          <input formControlName="email" id="email" matInput type="email">
          <mat-error *ngIf="form.email.errors">Prosím, zadejte e-mail</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <label for="phoneNumber">
            <mat-label>Telefonní číslo</mat-label>
          </label>

          <input id="phoneNumber" matInput placeholder="123456789" type="tel">
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="password">
            <mat-label>Heslo</mat-label>
          </label>
          <input formControlName="password" id="password" matInput type="password">
          <mat-error *ngIf="form.password.errors?.required">Prosím, zadejte heslo</mat-error>
          <mat-error *ngIf="form.password.errors?.minlength">Heslo musí být dlouhé alespoň 8 znaků</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="confirmPassword">
            <mat-label>Potvrzení hesla</mat-label>
          </label>
          <input formControlName="confirmPassword" id="confirmPassword" matInput type="password">
          <mat-error *ngIf="form.confirmPassword.errors">Hesla se neshodují</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button color="primary" mat-raised-button>Registrovat</button>
    </form>
  </mat-card>
</div>
