<div class="container my-2">
  <div class="row">
    <div class="col-md">
      <img alt="Sportovni hala" class="img-fluid mx-auto" src="assets/img/sportovni_hala.jpg">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md">
      <h1>Sportovní hala</h1>
      <p>Sportovní hala se sociálním zázemím a společenským sálem.</p>
      <p>Hřiště 40x20 m, kompletní vybavení pro futsal, házenou, florbal, národní házenou, volejbal,
        nohejbal, tenis, badminton (3 – 5 kurtů).</p>
      <p>Možnost zapůjčení sportovního vybavení (rakety, míčky, košíčky).</p>

      <ul>
        <li>Tréninky</li>
        <li>Sportovní utkání</li>
        <li>Turnaje</li>
        <li>Soustředění</li>
        <li>Teambuildingové akce</li>
      </ul>

      <p>Rezervace na telefonním čísle +420 732 552 897 nebo <a [routerLink]="'/rezervace'">zde</a></p>
    </div>
  </div>
</div>

