<div class="container">

  <carousel>
    <slide>
      <img alt="first slide" src="assets/img/carousel1bad.JPG" style="display: block; width: 100%; max-height: 600px">
      <div class="carousel-caption d-none d-md-block">
        <h1>Second slide label</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img alt="second slide" src="assets/img/carousel2bad.JPG" style="display: block; width: 100%; max-height: 600px">
      <div class="carousel-caption d-none d-md-block">
        <h1>Second slide label</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
  </carousel>
  <div class="container-fluid">
    <div class="row mt-1">
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Víceúčelová sportovní hala</mat-card-title>
          </mat-card-header>
          <img [routerLink]="['/hala']" alt="Víceúčelová sportovní hala" class="card-image" mat-card-image
               src="assets/img/viceucel.JPG">
          <mat-card-content>
            <p>
              Badminton, tenis, fotbal, florbal, volejbal, nohejbal
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Venkovní hřiště</mat-card-title>
          </mat-card-header>
          <img [routerLink]="['/hriste']" alt="Venkovní hřiště" class="card-image" mat-card-image
               src="assets/img/venek.JPG">
          <mat-card-content>
            <p>
              Tenis, házená, nohejbal
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Restaurace</mat-card-title>
          </mat-card-header>
          <img [routerLink]="['/restaurace']" alt="Restaurace" class="card-image" mat-card-image
               src="assets/img/restaurace.JPG">
          <mat-card-content>
            <p>
              Domácí pizza, alko, nealko, sportovní přenosy
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Společenský sál</mat-card-title>
          </mat-card-header>
          <img [routerLink]="['/sal']" alt="Společenský sál" class="card-image" mat-card-image src="assets/img/sal.jpg">
          <mat-card-content>
            <p>
              Svatby, oslavy, večírky, plesy, školení
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Ubytování</mat-card-title>
          </mat-card-header>
          <img [routerLink]="['/ubytovani']" alt="Ubytování" class="card-image" mat-card-image
               src="assets/img/ubytovani.JPG">
          <mat-card-content>
            <p>
              Ubytování s kapacitou asi 40 lůžek
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Relaxační zóna</mat-card-title>
          </mat-card-header>
          <img alt="Relaxační zóna" mat-card-image src="assets/img/relax.jpg">
          <mat-card-content>
            <p>
              Parní sauna, bazén, vířivka
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>


</div>
