<mat-tab-group>
  <mat-tab label="Vytváření rezervací">
    <ng-template matTabContent>
      <app-generate-bookings></app-generate-bookings>
    </ng-template>
  </mat-tab>
  <mat-tab label="Správa rezervací">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Potvrzení rezervací
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-confirm-bookings></app-confirm-bookings>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Přehled potvrzených rezervací
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-view-bookings></app-view-bookings>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-tab>
</mat-tab-group>
