<div class="container-fluid">
  <form (ngSubmit)="createBookings()" [formGroup]="generateBookingsForm" [style.fontSize.px]="16" class="mt-1">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Vyber datum</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="startDate" matStartDate placeholder="Od">
          <input formControlName="endDate" matEndDate placeholder="Do">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="form.startDate.errors">Data jsou povinné</mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Čas od</mat-label>
        <input formControlName="startTime" matInput type="time">
        <mat-error *ngIf="form.startDate.errors">Čas je povinný</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Čas do</mat-label>
        <input formControlName="endTime" matInput type="time">
        <mat-error *ngIf="form.startDate.errors">Čas je povinný</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hřiště</mat-label>
        <mat-select formControlName="sportsFieldIds" multiple>
          <mat-option *ngFor="let sportsField of sportsFields"
                      value="{{sportsField.id}}">{{sportsField.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <p [hidden]="!showErrorMessage" style="color: red">Rezervace na zvolená hřiště s tímto datem a časem už
      existují!</p>

    <div class="form-row mt-2">
      <mat-radio-group aria-labelledby="radio-group" formControlName="empty">
        <div class="form-row">
          <mat-radio-button [value]=true>Prázdné rezervace</mat-radio-button>
        </div>
        <div class="form-row">
          <mat-radio-button [value]=false>Vlastní rezervace</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>

    <div class="col-12">
      <button color="primary" mat-raised-button>Vytvořit</button>
    </div>

  </form>
</div>

