<div class="container my-2">
  <div class="row">
    <div class="col-md-5">
      <h1>Ubytování</h1>
      <p>Součástí zázemí Sportcentra Pustějov je také ubytovací kapacita.</p>
      <h2>Cena</h2>
      <p>250 Kč za osobu/noc*</p>
      <br>
      <br>
      <p class="align-bottom">*cena za krátkodobé ubytování (méně než 3 noci)</p>
      <p>*možnost zajištění stravy snídaně / polopenze / plná penze</p>
    </div>
    <div class="col-md-7">
      <img alt="Ubytování" class="img-fluid mx-auto" src="assets/img/ubytovani.jpg">
    </div>
  </div>
</div>
