<div class="container my-2">
  <div class="row">
    <div class="col-md d-none d-lg-block">
      <iframe frameborder="0" height="466" src="https://frame.mapy.cz/s/muhunofoke" style="border:none"
              width="700"></iframe>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md">
      <h1>Kontakt</h1>
      <h2>SPORTCENTRUM PUSTĚJOV</h2>
      <ul>
        <li>Pustějov 347</li>
        <li>742 43, Pustějov</li>
      </ul>
      <div class="mt-2">
        <h3><strong>Otevírací doba</strong></h3>
        <ul>
          <li>pondělí - neděle</li>
          <li>8:00 - 22:00</li>
        </ul>
      </div>
      <div class="mt-2">
        <h3><strong>Kontakt</strong></h3>
        <ul>
          <li>
            <fa-icon [icon]="mobileIcon" size="2x"></fa-icon>
            +420 732 552 897
          </li>
          <li>
            <fa-icon [icon]="emailIcon" size="2x"></fa-icon>
            sportcentrum.pustejov@gmail.com
          </li>
          <li>
            <a href="https://www.facebook.com" style="color: inherit">
              <fa-icon [icon]="facebookIcon" size="2x"></fa-icon>
            </a> Facebook sportcentra
          </li>
          <li>
            <a href="https://www.facebook.com" style="color: inherit">
              <fa-icon [icon]="instagramIcon" size="2x"></fa-icon>
            </a> Instagram sportcentra
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
