<div class="container my-2">
  <div class="row">
    <div class="col-md-5">
      <h1>Venkovní hřiště</h1>
      <p>Venkovní víceúčelové hřiště s umělým povrchem, kompletní vybavení pro futsal, házenou,
        národní házenou, volejbal, nohejbal a tenis.</p>
      <ul>
        <li>Tréninky</li>
        <li>Sportovní utkání</li>
        <li>Turnaje</li>
        <li>Soustředění</li>
        <li>Teambuildingové akce</li>
      </ul>

      <p>Rezervace na telefonním čísle +420 732 552 897 nebo <a [routerLink]="'/rezervace'">zde</a></p>
    </div>
    <div class="col-md-7">
      <img alt="Venkovní hřiště" class="img-fluid mx-auto" src="assets/img/venkovni_hriste.jpg">
    </div>
  </div>
</div>
