<footer class="footer custom-footer p-5">
  <div class="container" style="text-align: center">
    <div class="row">
      <div class="col-md-4" style="color: #FDFEFE">
        <p style="font-size: large">Kontakty</p>
        <p>
          <fa-icon [icon]="phoneIcon" class="mr-3"></fa-icon>
          +420 732 552 897
        </p>
        <p>
          <fa-icon [icon]="envelopeIcon" class="mr-3"></fa-icon>
          sportcentrum.pustejov@gmail.com
        </p>
        <p>
          <fa-icon [icon]="cityIcon" class="mr-3"></fa-icon>
          Pustějov 347
        </p>
      </div>
      <div class="col-md-4" style="color: #FDFEFE">
        <p style="font-size: large">Otevírací doba</p>
        <p>PONDĚLÍ - NEDĚLE</p>
        <p>8:00 - 22:00</p>
      </div>
      <div class="d-md-none">
        <mat-divider style="background-color: #FDFEFE"></mat-divider>
      </div>
      <div class="col-md-4" style="color: #FDFEFE">
        <p style="font-size: large">Odkazy</p>
        <p>
          <a class="mr-1" href="https://www.facebook.com" style="color: inherit">
            <fa-icon [icon]="facebookIcon" size="2x"></fa-icon>
          </a><a href="https://www.instagram.com" style="color: inherit">
          <fa-icon [icon]="instagramIcon" size="2x"></fa-icon>
        </a>
        </p>
      </div>
    </div>
  </div>
</footer>
