<h3>Add new foo</h3>
<div class="col-lg-8"></div>
<form [formGroup]="fooForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" required />
    <span *ngIf="fooForm.invalid && fooForm.touched" class="text-danger"
      >Name is required</span
    >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3>All foos:</h3>
<table class="table table-primary table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let foo of foos">
      <th scope="row">{{ foo.id }}</th>
      <td>{{ foo.name }}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteFoo(foo)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
