<div *ngIf="firstView" class="row justify-content-center">
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm" [style.fontSize.px]="16">
      <mat-card-header>
        <h1>Zapomenuté heslo</h1>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="standard" style="width: 100%">
          <label for="email">
            <mat-label>Zadejte e-mail pro resetování hesla</mat-label>
          </label>
          <input formControlName="email" id="email" matInput type="email">
          <mat-error *ngIf="form.email.errors?.required">Prosíme, zadejte e-mail</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button color="primary" mat-raised-button>Potvrdit</button>
    </form>
  </mat-card>
</div>

<div *ngIf="secondView" class="row justify-content-center">
  <mat-card>
    <mat-card-header>
      <h1>Zapomenuté heslo</h1>
    </mat-card-header>
    <mat-card-content>
      <div>
        Pokud existuje účet se zadaným e-mailem, bude na jeho adresu zaslán odkaz pro resetování hesla.
        Prosíme, pokračujte podle instrukcí v e-mailu.
      </div>
    </mat-card-content>
  </mat-card>
</div>
