.shopping-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.expand-button {
  transform: scale(1.5);
}

.slot {
  border: 1px solid #ddd;
  cursor: pointer;
  min-width: 25px !important;
  min-height: 25px !important;
  width: 25px !important;
  height: 25px !important;
  max-width: 25px !important;
  max-height: 25px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.slot-empty {
  background-color: deepskyblue;
}

.slot-full {
  background-color: darkred;
  cursor: not-allowed;
}

.slot-selected {
  background-color: yellow;
}

.sportsField-name {
  max-width: 70px !important;
  max-height: 25px !important;
  height: 25px !important;
}
.header {
  border: 1px solid #ddd;
  text-align: center;
  min-width: 62px !important;
  max-width: 70px !important;
}
