.shopping-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.expand-button {
  transform: scale(1.5);
}

.slot {
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: deepskyblue;
  /*min-width: 25px !important;*/
  /*min-height: 10px !important;*/
  /*width: 10px !important;*/
  /*height: 25px !important;*/
  margin: 0 !important;
  padding: 0 !important;
}
.slot.slot-empty {
  background-color: deepskyblue;
}

.slot.slot-full {
  background-color: darkred;
  cursor: not-allowed;
}

.slot.slot-selected {
  background-color: yellow;
}

th {
  border: 1px solid #ddd;
}
