<mat-form-field [style.fontSize.px]="16" class="mt-1">
  <mat-label>Vyberte datum</mat-label>
  <input (dateChange)="getBookings('change', $event)" (dateInput)="getBookings('input', $event)"
         [matDatepicker]="picker" disabled
         matInput>
  <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>

<!--<div class="row">-->
<!--  <div *ngIf="sportsFields[0].bookings && sportsFields[0].bookings.length ===0" class="alert alert-info col-md-12"-->
<!--       role="alert">-->
<!--    Pro zvolené datum nelze rezervovat-->
<!--  </div>-->
<!--  <div *ngFor="let sportsField of sportsFields" class="col-md">-->
<!--    <p *ngIf="sportsField.bookings && sportsField.bookings.length !==0" class="text-center">{{sportsField.name}}</p>-->
<!--    <button class="my-1" (click)="booking.isSelected ? deselectBooking(booking) : selectBooking(booking)"-->
<!--            [color]="booking.isSelected ? 'accent' : 'primary'"-->
<!--            [disabled]="booking.user !== null"-->
<!--            *ngFor="let booking of sportsField.bookings" mat-flat-button>{{booking.startTime}}-->
<!--      - {{booking.endTime}}</button>-->
<!--  </div>-->
<!--</div>-->
<div class="shopping-button" *ngIf="selectedBookings.length !==0">
  <button (click)="openCartDialog()" mat-fab color="accent" class="expand-button" aria-label="Nakupni kosik">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Hřiště</th>
      <th colspan="2" scope="col">8:00</th>
      <th colspan="2" scope="col">9:00</th>
      <th colspan="2" scope="col">10:00</th>
      <th colspan="2" scope="col">11:00</th>
      <th colspan="2" scope="col">12:00</th>
      <th colspan="2" scope="col">13:00</th>
      <th colspan="2" scope="col">14:00</th>
      <th colspan="2" scope="col">15:00</th>
      <th colspan="2" scope="col">16:00</th>
      <th colspan="2" scope="col">17:00</th>
      <th colspan="2" scope="col">18:00</th>
      <th colspan="2" scope="col">19:00</th>
      <th colspan="2" scope="col">20:00</th>
      <th colspan="2" scope="col">21:00</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sportField of sportsFields">
      <td>{{sportField.name}}</td>
      <td (click)="booking.isSelected ? deselectBooking(booking) : selectBooking(booking)"
          [ngClass]="{'slot slot-full': booking.user !==null,
           'slot slot-empty':booking.user === null,
            'slot slot-selected': booking.isSelected}"
          *ngFor="let booking of sportField.bookings"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="shopping-button" *ngIf="selectedBookings.length !==0">
  <button (click)="openCartDialog()" mat-fab color="accent" class="expand-button" aria-label="Nakupni kosik">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
